<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gapi-ext by alediator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>

    <!-- Google API -->
    <script src="https://apis.google.com/js/client.js"></script>

    <!-- Google API extension -->
    <script src="./gapiExt.js"></script>

  </head>
  <body>
    <div class="wrapper">

      <section>
        <h3>Google API extension demo.</h3>

        <p>You can see this plugin in action clicking on start demo button:</p>
        <button type="button" class="btn btn-default" onclick="signIn()">Start demo</button>
        <button onclick="showEvents()">Traer eventos</button>
      </section>
    </div>
    
  </body>
  <script>
    var gapiExtObjetc;
    function signIn() {
      gapiExtObjetc = $.fn.gapiExt();
      gapiExtObjetc.executeTest();
    }
    function showEvents() {
      if (gapiExtObjetc) {
        gapiExtObjetc.listUpcomingEvents(100);
      }
    }
  </script>
</html>